<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ministry of Culture</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <script src="{{url_for('static',filename='script.js')}}" defer></script>
</head>
<body class="bg-[rgba(255,247,240,255)]">

  <nav class="fixed top-0 left-0 w-full flex justify-between bg-[rgba(16,62,60,255)] z-50 p-3">
    <div>
      <img src="{{url_for('static',filename='images/ministry-removebg-preview.png')}}" alt="Logo"
        class="h-[40px] w-[40px] bg-white rounded-full sm:h-[50px] sm:w-[50px]">
    </div>

    <div class="mx-2 sm:mx-5 py-2 sm:py-5">
      <ul class="flex gap-3 sm:gap-5 justify-center text-sm sm:text-xl">
        <li class="text-white font-serif">HOME</li>
        <li class="text-white font-serif">CONTACT US</li>
        <li class="text-white font-serif">EXPLORE</li>
        <li class="text-white font-serif">ABOUT US</li>
        <li class="text-[rgba(16,62,60,255)] font-serif py-1 px-2 sm:pt-1 sm:px-3 rounded-2xl bg-white">BOOK NOW</li>
      </ul>
    </div>
  </nav>

  <!-- BANNER -->
  <div style="background-image: {{url_for('static',filename='banner2.webp')}};"
    class="flex h-screen w-full bg-cover bg-no-repeat relative pt-16">
    <div
      class="flex flex-col justify-center items-center h-full w-full text-center text-white gap-3 sm:gap-5 bg-[rgba(0,0,0,0.5)] px-4">

      <!-- Title -->
      <h1 class="text-3xl sm:text-5xl font-serif">
        Discover the Essence of India: <br />
        Immerse Yourself in Our Vibrant Heritage
      </h1>

      <!-- Subtitle -->
      <p class="text-sm sm:text-xl max-w-xl">
        Explore the rich tapestry of Indian culture, history, and traditions at our museum. From ancient artifacts to
        modern masterpieces.
      </p>

      <!-- Buttons -->
      <a href="#"
        class="bg-white text-[rgba(16,62,60,255)] px-4 py-2 sm:px-6 sm:py-3 rounded-full text-sm sm:text-lg font-semibold">
        Discover More
      </a>

      <a href="#" class="text-xs sm:text-sm mt-2 sm:mt-3 underline">
        Plan Your Visit
      </a>

    </div>
  </div>

  <br>
  <br>
  <br>


  <div class="gap-10 h-[800px] w-[1400px] flex justify-center ml-14">
    <div style="background-image: {{url_for('static',filename='lady.webp')}};"
      class="flex h-screen w-full bg-cover bg-no-repeat relative pt-16">
      <!-- TEXT -->
      <div
        class="flex flex-col justify-center w-full md:w-1/2 h-auto md:h-full text-left text-white p-5 md:p-10 ml-auto">
        <h1 class="font-serif text-[24px] sm:text-[28px] md:text-[30px] lg:text-[36px] italic text-white">
          Uncover the Timeless Treasures of India
        </h1>
        <p class="font-serif text-[14px] sm:text-[16px] md:text-[18px] mt-4 leading-relaxed">
          Step into a world where the past and present converge, where ancient wisdom and contemporary innovation
          intertwine. Our museum is a testament to the enduring spirit of India.
        </p>
        <a href="#"
          class="mt-6 inline-block bg-[#375d4d] text-white text-[14px] sm:text-[16px] px-6 sm:px-8 py-2 sm:py-3 rounded-full font-semibold hover:bg-[#2e5042] transition">
          Explore Now
        </a>
      </div>
    </div>
  </div>
  <br>


  <div class="flex gap-20 justify-center items-center">

    <img src="{{url_for('static',filename='images/dual.webp')}}" alt="" class="h-[500px] w-[500px]">
    <img src="{{url_for('static',filename='images/dual2.webp')}}" alt="" class="h-[600px] w-[600px]">
  </div>
  <br>
  <br>
  <br>
  <br>






  <div class="flex flex-wrap justify-center gap-10 p-5">
    <!-- Box 1 -->
    <div class="bg-white h-[400px] w-[350px] flex flex-col items-center p-5 border border-gray-300 shadow-lg">
      <img src="{{url_for('static',filename='images/logocarror.webp')}}" alt="Logo 1" class="h-[50px] w-[50px] mb-5">
      <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Delve into the Captivating Narratives of India's
        Past</h1>
      <p class="text-gray-600 text-center">Uncover the timeless stories that have shaped the heart and soul of this
        remarkable country. From the grand monuments that stand as testaments to a</p>
    </div>

    <!-- Box 2 -->
    <div class="bg-white h-[400px] w-[350px] flex flex-col items-center p-5 border border-gray-300 shadow-lg">
      <img src="{{url_for('static',filename='images/logo2.webp')}}" alt="Logo 2" class="h-[50px] w-[50px] mb-5">
      <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Discover the Power of India's Cultural Tapestry</h1>
      <p class="text-gray-600 text-center">Immerse yourself in the vibrant narratives that have defined the Indian
        experience. Our museum offers a window into the diverse tapestry of this nation</p>
    </div>

    <!-- Box 3 -->
    <div class="bg-white h-[400px] w-[350px] flex flex-col items-center p-5 border border-gray-300 shadow-lg">
      <img src="{{url_for('static',filename='images/logouser.webp')}}" alt="Logo 3" class="h-[50px] w-[50px] mb-5">
      <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Embark on a Transformative Journey through India's
      </h1>
      <p class="text-gray-600 text-center">Explore the captivating stories that have shaped the heart and soul of this
        remarkable country. From the grand monuments that stand as testaments to a</p>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="bg-blue-50 text-gray-800 font-serif italic px-8 py-16 text-center">
    <h1 class="text-4xl font-extrabold mb-6 ">Welcome</h1>
    <h2 class="text-6xl font-extrabold mb-10">Uncover the Essence of India</h2>
    <p class="text-lg leading-relaxed mx-auto max-w-2xl mb-6">
      Discover the captivating stories that have shaped the heart and soul of India. Our museum invites you to embark on
      a transformative journey through the rich tapestry of Indian heritage, where ancient traditions and modern
      innovation converge to create a truly immersive experience.
    </p>
  </div>






  <div class="container mx-auto py-12 px-4">
    <h2 class="text-4xl font-extrabold text-center text-gray-800 mb-12">Explore Our Exhibitions</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <!-- Exhibition 1 -->
      <div class="bg-[rgba(16,62,60,255)] rounded-lg overflow-hidden shadow-lg">
        <div class="relative h-[500px]"> <!-- Increased height -->
          <img src="{{url_for('static',filename='images/mid1.webp')}}" alt="Ineaunlion" class="absolute inset-0 w-full h-full object-cover">
        </div>
        <div class="p-6 bg-[rgba(16,62,60,255)] text-white">
          <h3 class="text-2xl font-bold mb-3 text-center">Ineaunlion</h3>
          <p class="text-base mb-4 text-center">Discover the captivating narratives of India's past and present. Immerse
            yourself in our unique exhibits.</p>
          <a href="#"
            class="bg-[rgba(16,62,60,255)] text-white rounded-full py-2 px-4 text-base font-semibold hover:bg-teal-600 hover:text-white transition duration-300 block text-center">Learn
            More</a>
        </div>
      </div>
      <!-- Exhibition 2 -->
      <div class="bg-[rgba(16,62,60,255)] rounded-lg overflow-hidden shadow-lg">
        <div class="relative h-[500px]"> <!-- Increased height -->
          <img src="{{url_for('static',filename='images/mid2.webp')}}" alt="Timeless Treasures"
            class="absolute inset-0 w-full h-full object-cover">
        </div>
        <div class="p-6 bg-[rgba(16,62,60,255)] text-white">
          <h3 class="text-2xl font-bold mb-3 text-center">Timeless Treasures</h3>
          <p class="text-base mb-4 text-center">Uncover the rich cultural tapestry of India. Explore artifacts and
            stories that span centuries.</p>
          <a href="#"
            class="bg-[rgba(16,62,60,255)] text-white rounded-full py-2 px-4 text-base font-semibold hover:bg-teal-600 hover:text-white transition duration-300 block text-center">Explore
            Now</a>
        </div>
      </div>
      <!-- Exhibition 3 -->
      <div class="bg-[rgba(16,62,60,255)] rounded-lg overflow-hidden shadow-lg">
        <div class="relative h-[500px]"> <!-- Increased height -->
          <img src="{{url_for('static',filename='images/mid3.webp')}}" alt="Inghai istuum" class="absolute inset-0 w-full h-full object-cover">
        </div>
        <div class="p-6 bg-[rgba(16,62,60,255)] text-white">
          <h3 class="text-2xl font-bold mb-3 text-center">Inghai istuum</h3>
          <p class="text-base mb-4 text-center">Immerse yourself in the vibrant spirit of India. Discover stories and
            exhibits that bring India's culture to life.</p>
          <a href="#"
            class="bg-[rgba(16,62,60,255)] text-white rounded-full py-2 px-4 text-base font-semibold hover:bg-teal-600 hover:text-white transition duration-300 block text-center">Discover
            More</a>
        </div>
      </div>
    </div>
  </div>




  <div class="bg-blue-900 text-white py-20 h-[400px] italic  font-serif">
    <h1 class="text-4xl font-bold text-center  flex justify-center items-center mt-11 ">Experience the Essence of India
    </h1>
    <button
      class="bg-white text-blue-900 px-6 py-2 rounded-md mt-10  font-serif mx-auto flex justify-center items-center">Visit
      Today</button>
  </div>

  <div class="bg-[rgba(205,244,227,255)]  py-20">
    <div class="container mx-auto grid grid-cols-3 gap-10">
      <div class="text-[rgba(121,170,164,255)]">
        <h2 class="text-xl font-bold mb-4">Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Exhibits</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="text-[rgba(121,170,164,255)]">
        <h2 class="text-xl font-bold mb-4">Explore</h2>
        <ul>
          <li><a href="#">History</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Artistry</a></li>
          <li><a href="#">Programs</a></li>
        </ul>
      </div>
      <div class="text-[rgba(121,170,164,255)]">
        <h2 class="text-xl font-bold mb-4">Connect</h2>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Chatbot Button -->
  <button id="chatbot-btn" class="fixed bottom-4 right-4 bg-gradient-to-r from-blue-300 to-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-400 transition duration-300 z-50">
    <img src="{{url_for('static',filename='images/chatbot.png')}}" height="30" width="30">
  </button>

  <!-- Chatbot Popup -->
  <div id="chatbot" class="fixed bottom-20 right-16 w-[400px] mb-9 h-[600px] bg-gradient-to-r from-white to-blue-50 shadow-lg rounded-lg hidden transition-transform transform scale-90 ease-in-out z-50">
    <div class="bg-gradient-to-r from-blue-500 to-blue-700 text-white p-4 rounded-t-lg flex items-center justify-between">
      <h3 class="text-2xl font-bold flex items-center space-x-2">
        <span>📜</span>
        <span>Prachin</span>
      </h3>
      <button id="close-chatbot" class="text-white bg-blue-600 hover:bg-blue-700 p-2 text-xl rounded-full transition duration-300 ease-in-out transform hover:scale-110 focus:outline-none">
        ❌
      </button>
    </div>

    <!-- Chat Area -->
    <div id="chat-area" class="p-4 h-[calc(100%-80px)] overflow-y-auto">
      <!-- Bot Message -->
      <div id="initial-bot-message" class="flex items-start space-x-2 mb-4 bot-message message-box">
        <div class="w-12 h-12 rounded-full bg-blue-400 text-white flex justify-center items-center text-2xl">🏛️</div>
        <div class="bg-blue-100 p-4 rounded-xl shadow-lg max-w-xs text-blue-800">
          <p>Welcome! How can I assist you today?</p>
        </div>
      </div>
      <!-- Debugger Toggle Box -->
<div class="fixed bottom-4 right-4 bg-white p-3 rounded-lg shadow-lg flex items-center space-x-2">
  
<label class="inline-flex items-center cursor-pointer">
  <input type="checkbox" value="" class="sr-only peer" checked onclick="set_debugging()">
  <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
  <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Debugger</span>
</label>

</div>

    </div>
    

    <!-- Input Area -->
    <div class="bg-blue-50 p-4 flex items-center space-x-4">
      <input 
        id="message-input" 
        type="text" 
        placeholder="Type your message..." 
        class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition-transform transform duration-300 ease-in-out"
        onkeypress="handleEnter(event)">
      <button 
        id="send-btn" 
        class="bg-gradient-to-r from-blue-300 to-blue-500 text-white p-3 rounded-full hover:bg-blue-400 transition duration-300 ease-in-out transform hover:scale-110 shadow-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Ticket Form -->
  <div class="w-full max-w-4xl bg-white rounded-lg shadow-lg overflow-hidden p-4" id="ticket" style="display:none">
    <!-- Header -->
    <div class="border-b border-gray-200 bg-gray-50 mb-4 ticket-header">
      <h2 class="text-2xl font-bold text-center py-2">Book Your Tickets</h2>
    </div>
    
    <!-- Form -->
    <form class="space-y-6" id="ticket-form">
      <!-- Form Container with Flexbox -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center space-y-4 sm:space-y-0 sm:space-x-6">
        <!-- Museum Selection Label -->
        <label for="search" class="block text-sm font-medium text-gray-700 dark:text-gray-300 sm:w-1/4">Select a Museum:</label>
    
        <!-- Search Bar -->
        <div class="relative sm:w-3/4 w-full">
          <input 
            type="text" 
            id="search" 
            oninput="filterCards()" 
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            placeholder="Search by museum name"
          />
        </div>
      </div>
      
      <!-- Museum Selection Cards -->
      <div class="relative">
        <div id="museum-cards" class="overflow-x-auto no-scrollbar flex space-x-4 py-4">
          <!-- Museum Cards with Background Image and Text Overlay -->
          {% for i in result %}
            <div 
              class="card w-64 h-44 bg-gray-200 rounded-lg flex-shrink-0 cursor-pointer relative overflow-hidden transition-transform transform hover:scale-105"
              style="background-image: url('{{url_for('static', filename='images/hh.jpg')}}'); background-size: cover; background-position: center;"
              data-name="{{i['name']|lower}}"
            >
              <!-- Dark Overlay for Better Text Contrast -->
              <div class="absolute inset-0 bg-black opacity-60"></div>
      
              <!-- Text Over Image -->
              <div class="relative z-10 p-4">
                <h3 class="text-lg font-bold text-white mb-1">{{i['name']|title}}</h3>
                <p class="text-gray-200 text-sm">{{i['type']|title}} Museum</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    
      <!-- Visit Date Selection -->
      <div id="visit-date-container" class="flex flex-col sm:flex-row items-start sm:items-center space-y-4 sm:space-y-0 sm:space-x-6">
        <label for="visit-date" class="block text-sm font-medium text-gray-700 dark:text-gray-300 sm:w-1/4">Select Visit Date:</label>
        <input type="text" id="visit-date" name="visit-date" class="block w-full sm:w-3/4 px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
      </div>
    
      <!-- Submit Button -->
      <div class="text-center">
        <button onclick="tuggler()" type="submit" class="relative bg-blue-500 text-white py-2 px-6 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200 ease-in-out" id="book-now-btn" disabled>
          <span id="botton_text" class="block">Book Now</span>
          <div id="botton_loader" class="w-8 h-8 border-4 border-t-4 border-black-500 border-solid rounded-full border-t-transparent animate-spin hidden absolute inset-0 m-auto"></div>
        </button>
      </div>
    </form>
    
    
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg" id="set" style="display:none">
    <h2 class="text-2xl font-bold text-center mb-6">Adjust Settings</h2>

    <!-- Range Sliders -->
    <div class="mb-4">
      <label for="range1" class="block text-lg font-semibold mb-2">Volume:</label>
      <input id="range1" type="range" min="0" max="100" value="50" class="w-full h-2 bg-blue-200 rounded-lg appearance-none cursor-pointer">
    </div>
    <div class="mb-4">
      <label for="range2" class="block text-lg font-semibold mb-2">Brightness:</label>
      <input id="range2" type="range" min="0" max="100" value="50" class="w-full h-2 bg-blue-200 rounded-lg appearance-none cursor-pointer">
    </div>
    <div class="mb-6">
      <label for="range3" class="block text-lg font-semibold mb-2">Contrast:</label>
      <input id="range3" type="range" min="0" max="100" value="50" class="w-full h-2 bg-blue-200 rounded-lg appearance-none cursor-pointer">
    </div>

    <!-- Proceed Button -->
    <div class="text-center">
      <button 
        class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
        Proceed
      </button>
    </div>
  </div>
  
</body>
</html>
